.Home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(237,229,229,0.2),
    rgba(248,240,240,0.5)),url(Home2.jpg);
    background-size: cover;
    background-position: center;
}